@import "tailwindcss";

@layer base {
  :root {
    --text: #150e09;
    --background: #fbf6f4;
    --primary: #d67a38;
    --secondary: #f1ae7e;
    --accent: #fb954b;
  }
  .dark {
    --text: #f6efea;
    --background: #0b0604;
    --primary: #c76b29;
    --secondary: #813e0e;
    --accent: #b44d04;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--text);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #fb954b;
  border-radius: 10px;
}
